form label {
    font-size: 16px;
    display: block;
    /* border-bottom: 2px solid  #ccc; */
    color: #000;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 20px;
}

form input, form textarea{
    background-color: #fff !important;
    padding-left:15px !important;
    border: 1px solid #ccc !important;
    margin-bottom: 10px;
}

.page-item .page-link, .page-item span {
    color: #000 !important;
}
